<section class="home-bg static-single iparallax parallax" id="home">
    <div class="bg-overlay"></div>
    <div class="home-table">
        <div class="home-table-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 text-center">
                        <h1 class="header_title mx-auto text-white">{{ .Site.Params.home.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
