<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
		{{ partial "head.html" .}}
    </head>    
    <body>
        <div class="loader-wrapper">
            <div class="loader"></div>
        </div>

		{{ partial "navbar.html" .}}
		{{ partial "home.html" .}}
        {{ partial "main.html" .}}
        {{ partial "footer.html" .}}
  
        <a href="#" class="back_top"> <i class="pe-7s-angle-up"> </i> </a>

        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/scrollspy.min.js"></script>
        <script src="js/wavify.js"></script>
        <script src="js/TweenMax.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.simple-text-rotator.js"></script>
        <script src="js/typed.js"></script>
        <script src="js/jquery.wavify.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/kpd.js"></script>  
    </body>
</html>